node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

cypress/screenshots/
cypress/videos/

.cypress/

.env
.env.local
.env.*.local

dist/
*.tsbuildinfo

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

yarn.lock
pnpm-lock.yaml